*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  overflow: hidden;
  background-color: hsl(0, 0%, 100%);
}
@media only screen and (max-width: 50em) {
  body {
    overflow: scroll;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 10rem;
  position: relative;
}
@media only screen and (max-width: 50em) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}

.gradient,
.gradient-trans {
  display: block;
  overflow: hidden;
  background-image: linear-gradient(to top right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
  width: 40rem;
  height: 55rem;
  position: absolute;
}

.gradient {
  border-radius: 0 0 30rem 30rem;
  right: 71%;
  top: -1%;
}

.gradient-trans {
  margin-right: -100rem;
  margin-top: 20rem;
  opacity: 0.1;
  border-radius: 50rem 50rem 0 0;
}
@media only screen and (max-width: 50em) {
  .gradient-trans {
    display: none;
  }
}

.attribution {
  display: flex;
  justify-content: center;
  margin-top: -2rem;
}

.mobile {
  display: flex;
  flex-direction: column;
  background-color: hsl(270, 20%, 96%);
  max-width: 25rem;
  max-height: 60rem;
  position: relative;
  border-radius: 3rem;
  font-size: 0.8rem;
  border: 1rem solid hsl(0, 0%, 100%);
  box-shadow: 17px 14px 33px 10px rgba(0, 0, 0, 0.1);
}
.mobile_head {
  display: flex;
  justify-content: center;
  gap: 7rem;
  background-image: linear-gradient(to right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
  padding: 1rem 0.6rem;
  width: 100%;
  border-radius: 2rem 2rem 1rem 1rem;
  color: hsl(0, 0%, 100%);
  box-shadow: 0px 20px 36px -3px rgba(0, 0, 0, 0.1);
}
.mobile_head--avatar {
  width: 3rem;
  height: 3rem;
  border: 1.5px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}
.mobile_head--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mobile_head--text h3 {
  font-size: 1rem;
}
.mobile_head--text p {
  color: hsl(276, 100%, 81%);
  padding-top: 0.2rem;
}
.mobile_head i {
  align-self: center;
  font-size: 1.4rem;
}

.mobile_chat {
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
}
.mobile_chat--walker {
  background-color: hsla(206, 7%, 79%, 0.324);
  padding: 0.6rem;
  color: hsl(276, 55%, 52%);
  margin-bottom: 1rem;
  width: fit-content;
  max-width: 65%;
  border-radius: 1rem 1rem 1rem 0;
}
.mobile_chat--user-img {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.6rem;
  justify-content: flex-end;
}
.mobile_chat--user-img img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 1rem;
}
.mobile_chat--user {
  display: flex;
  justify-content: flex-end;
  background-color: hsl(0, 0%, 100%);
  padding: 0.6rem;
  color: hsl(271, 15%, 43%);
  margin-bottom: 1rem;
  width: fit-content;
  max-width: 65%;
  border-radius: 1rem 1rem 0 1rem;
  box-shadow: 0px 20px 36px -3px rgba(0, 0, 0, 0.1);
  align-self: flex-end;
}
.mobile_chat--pricing {
  display: flex;
  background-image: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  padding: 0.6rem;
  margin-bottom: 0.6rem;
  border-radius: 1rem 1rem 1rem 0;
  max-width: 65%;
  justify-content: space-between;
  align-items: center;
  color: hsl(0, 0%, 100%);
}
.mobile_chat--pricing span {
  display: block;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border-radius: 50%;
  border: 1.5px solid hsl(0, 0%, 100%);
}
.mobile_chat--pricing h5 {
  font-size: 1.2rem;
}
.mobile_chat--msgbox {
  background-color: hsl(0, 0%, 100%);
  padding: 0.5rem;
  padding-left: 2rem;
  border-radius: 2rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile_chat--msgbox p {
  color: hsl(206, 7%, 79%);
}
.mobile_chat--msgbox span {
  display: block;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: hsl(271, 36%, 24%);
}
.mobile_chat--msgbox i {
  color: hsl(0, 0%, 100%);
  position: relative;
  left: 30%;
  top: 30%;
  font-size: 1rem;
  font-weight: 900;
}

.helper {
  display: flex;
  gap: 1rem;
  padding-top: 2rem;
}

.status-bar {
  display: block;
  background-color: hsl(0, 0%, 100%);
  width: 60%;
  height: 3rem;
  position: absolute;
  border-radius: 2rem;
  top: -1rem;
  margin-bottom: 2rem;
}

.bi-three-dots-vertical {
  padding-top: 2rem;
}

.booking {
  max-width: 32rem;
}
@media only screen and (max-width: 50em) {
  .booking {
    text-align: center;
  }
}
.booking--head {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: hsl(271, 36%, 24%);
}
@media only screen and (max-width: 50em) {
  .booking--head {
    font-size: 4rem;
  }
}
.booking--body {
  color: hsl(270, 7%, 64%);
  line-height: 1.5;
  font-size: 1.4rem;
}
@media only screen and (max-width: 50em) {
  .booking--body {
    font-size: 1.6rem;
  }
}