*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  overflow: hidden;
  background-color: $white;

  @media only screen and (max-width: $bp-medium) {
    overflow: scroll;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  gap: 10rem;
  position: relative;

  @media only screen and (max-width: $bp-medium) {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}

.gradient,
.gradient-trans {
  display: block;
  overflow: hidden;
  background-image: linear-gradient(
    to top right,
    $light-violet,
    $light-magenta
  );
  width: 40rem;
  height: 55rem;
  position: absolute;
}
.gradient {
  border-radius: 0 0 30rem 30rem;
  right: 71%;
  top: -1%;
}

.gradient-trans {
  margin-right: -100rem;
  margin-top: 20rem;
  opacity: 0.1;
  border-radius: 50rem 50rem 0 0;

  @media only screen and (max-width: $bp-medium) {
    display: none;
  }
}

.attribution {
  display: flex;
  justify-content: center;
  margin-top: -2rem;
}
