//primary--text
$sub-heading: hsl(276, 100%, 81%);
$chat-left: hsl(276, 55%, 52%);
$chat-right: hsl(271, 15%, 43%);
$placeholder-text: hsl(206, 7%, 79%);
$placeholder-text-trans: hsla(206, 7%, 79%, 0.324);
$main-heading: hsl(271, 36%, 24%);
$paragraph: hsl(270, 7%, 64%);
//secondary
$white: hsl(0, 0%, 100%);
$light-grayish-violet: hsl(270, 20%, 96%);
$desaturated-violet: hsl(271, 36%, 24%);
$very-light-magenta: hsl(289, 100%, 72%);
// gradient
$light-magenta: hsl(293, 100%, 63%);
$light-violet: hsl(264, 100%, 61%);

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;
